<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert" />
  <!-- delete if there was one already: -->
  <appSettings  xdt:Transform="Remove" xdt:Locator="XPath(/configuration/appSettings[2])" />
  <appSettings>
    <add xdt:Transform="Insert" key="ClientValidationEnabled" value="true"/>
    <add xdt:Transform="Insert" key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>
    <compilation targetFramework="4.0" xdt:Transform="SetAttributes(targetFramework)">
      <assemblies>
        <add xdt:Transform="Remove" xdt:Locator="Condition(contains(@assembly,'System.Web.Abstractions'))" />
        <add xdt:Transform="Remove" xdt:Locator="Condition(contains(@assembly,'System.Web.Mvc'))" />
        <add xdt:Transform="Remove" xdt:Locator="Condition(contains(@assembly,'System.Web.Routing'))" />
        <add xdt:Transform="Remove" xdt:Locator="Condition(contains(@assembly,'System.Data.Linq'))" />
        <add xdt:Transform="Remove" xdt:Locator="Condition(contains(@assembly,'System.Web.Helpers'))" />
        <add xdt:Transform="Remove" xdt:Locator="Condition(contains(@assembly,'System.Web.WebPages'))" />
        <add xdt:Transform="Insert" assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add xdt:Transform="Insert" assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add xdt:Transform="Insert" assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add xdt:Transform="Insert" assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add xdt:Transform="Insert" assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add xdt:Transform="Insert" assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
      </compiler>
    </compilers>
  </system.codedom>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" xdt:Transform="Insert">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
