<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
<sitecore>
    <pipelines>
			<httpRequestBegin>
				<processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" 
									 type="BoC.Sitecore.Mvc.MvcFixHttpProcessor, BoC.Sitecore.Mvc"/>
			</httpRequestBegin>
			<initialize>
				<processor type="BoC.Sitecore.Mvc.Initialize.RegisterValueProvider, BoC.Sitecore.Mvc" />
			</initialize>
    </pipelines>
		<dataProviders>
			<MvcSubLayoutDataProvider type="BoC.Sitecore.Mvc.MvcSubLayoutDataProvider, BoC.Sitecore.Mvc"/>
			<MvcLayoutDataProvider type="BoC.Sitecore.Mvc.MvcLayoutDataProvider, BoC.Sitecore.Mvc"/>
		</dataProviders>
		<databases>
			<database id="master">
				<dataProviders hint="list:AddDataProvider">
					<dataProvider ref="dataProviders/MvcSubLayoutDataProvider"/>
					<dataProvider ref="dataProviders/MvcLayoutDataProvider"/>
				</dataProviders>
			</database>
			<database id="web">
					<dataProviders hint="list:AddDataProvider">
						<dataProvider ref="dataProviders/MvcSubLayoutDataProvider"/>
						<dataProvider ref="dataProviders/MvcLayoutDataProvider"/>
					</dataProviders>
			</database>
		</databases>
  </sitecore>
</configuration>